/* 整體排列 */
.radio-input {
    display: flex;
    gap: 16px;
    /* 選項間距 */
}

/* 外層容器 */
.radio-b {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

/* 隱藏原生 radio */
.radio-b__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* label 文字與框框 */
.radio-b__label {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    color: #000000;

    transition: all 0.3s ease;
    cursor: pointer;
}

/* 方框 */
.radio-b__custom {
    position: relative;
    width: 26px;
    height: 26px;
    border: 2px solid #a1a1a1;
    border-radius: 20px;
    /* 方形 */
    transition: all 0.3s ease;
    overflow: hidden;
}

/* ✔ 打勾 */
.radio-b__custom::after {
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    font-weight: bold;
    color: #d39511;
    /* 藍色 */
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.2s ease;
}

/* 選中狀態：顯示勾勾 */
.radio-b__input:checked+.radio-b__label .radio-b__custom::after {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
    animation: popIn 0.25s ease forwards;
}

/* hover 效果 */
.radio-b__input:hover+.radio-b__label .radio-b__custom {
    transform: scale(1.3);
}

/* 勾勾彈跳動畫 */
@keyframes popIn {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    60% {
        transform: translate(-50%, -50%) scale(1.3);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}