USE [master]
GO
/****** Object:  Database [gourmetmap]    Script Date: 2025/11/2 下午 05:07:08 ******/
CREATE DATABASE [gourmetmap]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gourmetmap', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\gourmetmap.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gourmetmap_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\gourmetmap_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gourmetmap].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gourmetmap]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NULL,
	[Account] [varchar](255) NOT NULL,
	[Password] [varchar](255) NULL,
	[VerificationToken] [varchar](255) NULL,
	[IsVerified] [bit] NULL,
	[CreatedAt] [datetime2](6) NULL,
	[LastLogIn] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AD_Data]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AD_Data](
	[ADID] [int] IDENTITY(1,1) NOT NULL,
	[PlanID] [int] NOT NULL,
	[VendorID] [int] NOT NULL,
	[CampaignName] [nvarchar](100) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[AD_Status] [nvarchar](10) NOT NULL,
	[PIC_URL] [nvarchar](max) NULL,
 CONSTRAINT [PK_AD_Data] PRIMARY KEY CLUSTERED 
(
	[ADID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AD_Plans]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AD_Plans](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](50) NOT NULL,
	[PlanPrice] [int] NOT NULL,
	[Days] [int] NOT NULL,
	[PlanDescription] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_AD_Plans] PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlackLists]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlackLists](
	[MemberID] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BlackLists_1] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [bigint] NOT NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[PlanID] [int] NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Delicious] [bit] NOT NULL,
	[Quick] [bit] NOT NULL,
	[Friendly] [bit] NOT NULL,
	[Photogenic] [bit] NOT NULL,
	[TopCP] [bit] NOT NULL,
	[CommentContext] [nvarchar](500) NULL,
	[Photo1] [nvarchar](max) NULL,
	[Photo2] [nvarchar](max) NULL,
	[Photo3] [nvarchar](max) NULL,
	[CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Comments_1] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerService]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerService](
	[CustomerServiceID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](30) NULL,
	[MemberID] [int] NULL,
	[VendorID] [int] NULL,
	[Subject] [nvarchar](50) NOT NULL,
	[Context] [nvarchar](300) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[Reply] [nvarchar](300) NULL,
	[ReplyAt] [datetime] NULL,
	[AccountID] [int] NULL,
	[CS_Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CustomerServiceID] PRIMARY KEY CLUSTERED 
(
	[CustomerServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ecpay_Transaction]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ecpay_Transaction](
	[ecpay_id] [bigint] IDENTITY(1,1) NOT NULL,
	[merchant_id] [nvarchar](20) NOT NULL,
	[merchant_trade_no] [nvarchar](50) NOT NULL,
	[trade_no] [nvarchar](50) NOT NULL,
	[trade_date] [datetime2](7) NOT NULL,
	[payment_date] [datetime2](7) NULL,
	[payment_type] [nvarchar](50) NULL,
	[payment_type_charge_fee] [decimal](10, 2) NULL,
	[rtn_code] [int] NOT NULL,
	[rtn_msg] [nvarchar](255) NULL,
	[trade_amt] [decimal](10, 2) NOT NULL,
	[store_id] [nvarchar](50) NULL,
	[simulate_paid] [bit] NULL,
	[custom_field1] [nvarchar](255) NULL,
	[custom_field2] [nvarchar](255) NULL,
	[custom_field3] [nvarchar](255) NULL,
	[custom_field4] [nvarchar](255) NULL,
	[check_mac_value] [nvarchar](100) NOT NULL,
	[order_no] [nvarchar](50) NULL,
	[raw_data] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ecpay_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[FavoriteID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[VendorID] [int] NOT NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[FavoriteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberLookHistroies]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberLookHistroies](
	[LookHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[VendorID] [int] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_MemberLookHistroies] PRIMARY KEY CLUSTERED 
(
	[LookHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](30) NOT NULL,
	[AvatarURL] [nvarchar](1000) NULL,
	[Gender] [nvarchar](10) NULL,
	[Birthdate] [date] NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[City] [nvarchar](10) NOT NULL,
	[District] [nvarchar](10) NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NULL,
	[PlanID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [int] NOT NULL,
	[ExpireDate] [date] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderNo] [nvarchar](50) NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[TotalAmount] [int] NOT NULL,
	[DiscountAmount] [int] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[PaidAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Orders__C3905BCF24B3DBD2] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[VendorID] [int] NOT NULL,
	[UnitPrice] [int] NOT NULL,
	[SpecialPrice] [int] NULL,
	[SpecialDiscount] [float] NULL,
	[EndDate] [date] NOT NULL,
	[Stock] [int] NOT NULL,
	[Pic_URL] [varchar](255) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Reason] [nvarchar](255) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[VendorID] [int] NOT NULL,
	[ReservationDate] [date] NOT NULL,
	[ReservationPeriod] [nvarchar](20) NOT NULL,
	[GuestCount] [smallint] NOT NULL,
	[RV_Status] [nchar](10) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RS_Capabilities]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RS_Capabilities](
	[VendorID] [int] NOT NULL,
	[ReservationDate] [nchar](10) NOT NULL,
	[ReservationPeriod] [nchar](20) NOT NULL,
	[Capability] [int] NOT NULL,
	[MaxGuests] [int] NOT NULL,
 CONSTRAINT [PK_RS_Capabilities] PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC,
	[ReservationDate] ASC,
	[ReservationPeriod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchHistory]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchHistory](
	[SearchID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NULL,
	[Keyword] [nvarchar](100) NULL,
	[StyleID] [int] NULL,
	[City] [nvarchar](50) NULL,
	[PriceRange] [nvarchar](20) NULL,
	[TimeSlot] [nvarchar](20) NULL,
	[SearchTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SearchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](255) NULL,
	[Description] [varchar](255) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VD_Categories]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_Categories](
	[VD_CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_RT_Categories] PRIMARY KEY CLUSTERED 
(
	[VD_CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VD_Details]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_Details](
	[VD_DetailID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NOT NULL,
	[VD_StyleID] [int] NOT NULL,
	[SeatsNumber] [int] NOT NULL,
	[AirConditioner] [bit] NOT NULL,
	[Park] [bit] NOT NULL,
	[BabyFriendly] [bit] NOT NULL,
	[PetFriendly] [bit] NOT NULL,
	[VeganFriendly] [bit] NOT NULL,
	[HalalFriendly] [bit] NOT NULL,
	[PriceMin] [int] NOT NULL,
	[PriceMax] [int] NOT NULL,
	[ServiceCharge] [int] NOT NULL,
	[LastUpdated] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VD_OpeningHours]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_OpeningHours](
	[VD_OpeningHourID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[OpeningTime] [time](7) NULL,
	[ClosingTime] [time](7) NULL,
 CONSTRAINT [PK_RT_OpeningHours] PRIMARY KEY CLUSTERED 
(
	[VD_OpeningHourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VD_Styles]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_Styles](
	[VD_StyleID] [int] IDENTITY(1,1) NOT NULL,
	[StyleName] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_RT_Styles] PRIMARY KEY CLUSTERED 
(
	[VD_StyleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](50) NOT NULL,
	[TaxID] [int] NULL,
	[OwnerName] [nvarchar](100) NOT NULL,
	[ContactName] [nvarchar](30) NOT NULL,
	[ContactTitle] [nvarchar](30) NOT NULL,
	[ContactTel] [nvarchar](30) NOT NULL,
	[ContactEmail] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[MapApi] [nvarchar](max) NULL,
	[VD_CategoryID] [int] NOT NULL,
	[LogoURL] [nvarchar](max) NULL,
	[VD_Status] [nvarchar](10) NOT NULL,
	[AccountID] [bigint] NULL,
 CONSTRAINT [PK_Vendors] PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [UserID], [Account], [Password], [VerificationToken], [IsVerified], [CreatedAt], [LastLogIn], [Status]) VALUES (4, 2, N'alice1@gururu.com.tw', N'$2a$10$HEeGr86kkDEVY2lIT0neyuP0Ymw.LjgMe3r4q7DE6XhJmKuG/NBb.', N'863E28E0-0917-4303-8A76-4A8B896DA4A6', 1, NULL, CAST(N'2025-11-02T14:27:10.157' AS DateTime), 1)
INSERT [dbo].[Accounts] ([AccountID], [UserID], [Account], [Password], [VerificationToken], [IsVerified], [CreatedAt], [LastLogIn], [Status]) VALUES (5, 2, N'bob2@gururu.com.tw', N'$2a$10$t/fdl1E0dNu8AxrtQ064ae4wLD59tw/bhZ7OqfA59urEiaJ4pvSy.', N'A2E5BADC-EF2E-4AED-BC98-3DD7C927F0FC', 1, NULL, CAST(N'2025-11-02T14:28:51.163' AS DateTime), 1)
INSERT [dbo].[Accounts] ([AccountID], [UserID], [Account], [Password], [VerificationToken], [IsVerified], [CreatedAt], [LastLogIn], [Status]) VALUES (6, 2, N'charlie3@gururu.com.tw', N'Passw0rd03', N'CD5B6874-8313-4ED2-8712-614147E5DFB5', 1, NULL, CAST(N'2025-10-31T12:10:29.713' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[AD_Plans] ON 

INSERT [dbo].[AD_Plans] ([PlanID], [PlanName], [PlanPrice], [Days], [PlanDescription]) VALUES (1, N'首頁橫幅（搜尋攔下）', 10000, 7, N'顯示於首頁最上方橫幅輪播區，提供最大曝光，保證所有食客第一時間看見您！')
INSERT [dbo].[AD_Plans] ([PlanID], [PlanName], [PlanPrice], [Days], [PlanDescription]) VALUES (2, N'精選優惠商品', 5000, 7, N'置入於首頁主題特輯區，本期主題「冬季鍋物」，配合季節活動強化品牌印象，限額十名。')
INSERT [dbo].[AD_Plans] ([PlanID], [PlanName], [PlanPrice], [Days], [PlanDescription]) VALUES (3, N'搜尋結果前三名', 50000, 30, N'搜尋關鍵字時顯示於前三名，高效提升點擊率與曝光量。')
SET IDENTITY_INSERT [dbo].[AD_Plans] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [OrderID], [Delicious], [Quick], [Friendly], [Photogenic], [TopCP], [CommentContext], [Photo1], [Photo2], [Photo3], [CreateAt]) VALUES (10, 30, 1, 0, 1, 1, 1, N'草莓派很好吃，奶油不膩。', N'/image/comment/1761826437164_12-3.webp', NULL, NULL, CAST(N'2025-10-30T20:13:57.163' AS DateTime))
INSERT [dbo].[Comments] ([CommentID], [OrderID], [Delicious], [Quick], [Friendly], [Photogenic], [TopCP], [CommentContext], [Photo1], [Photo2], [Photo3], [CreateAt]) VALUES (11, 29, 1, 0, 1, 1, 1, N'裝潢不錯。店貓超可愛！', N'/image/comment/1761826600746_13-2.webp', N'/image/comment/1761826600750_13-7.webp', NULL, CAST(N'2025-10-30T20:16:40.747' AS DateTime))
INSERT [dbo].[Comments] ([CommentID], [OrderID], [Delicious], [Quick], [Friendly], [Photogenic], [TopCP], [CommentContext], [Photo1], [Photo2], [Photo3], [CreateAt]) VALUES (12, 28, 1, 1, 1, 1, 1, N'讚啦！', N'/image/comment/1761826625287_13-6.webp', NULL, NULL, CAST(N'2025-10-30T20:17:05.287' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerService] ON 

INSERT [dbo].[CustomerService] ([CustomerServiceID], [Email], [MemberID], [VendorID], [Subject], [Context], [CreateAt], [Reply], [ReplyAt], [AccountID], [CS_Status]) VALUES (8, N'charlie3@gururu.com.tw', 4, 15, N'訂單查詢', N'我想確認我上週提交的訂單狀態', CAST(N'2025-10-03T10:25:00.000' AS DateTime), N'您的訂單已成功處理，狀態為完成', CAST(N'2025-10-03T14:30:00.000' AS DateTime), NULL, N'已回覆')
INSERT [dbo].[CustomerService] ([CustomerServiceID], [Email], [MemberID], [VendorID], [Subject], [Context], [CreateAt], [Reply], [ReplyAt], [AccountID], [CS_Status]) VALUES (9, N'david4@gururu.com.tw', 5, NULL, N'退款問題', N'我想取消上次付款並申請退款', CAST(N'2025-10-05T09:15:00.000' AS DateTime), N'退款已完成，請確認您的帳戶', CAST(N'2025-10-05T11:40:00.000' AS DateTime), NULL, N'已回覆')
INSERT [dbo].[CustomerService] ([CustomerServiceID], [Email], [MemberID], [VendorID], [Subject], [Context], [CreateAt], [Reply], [ReplyAt], [AccountID], [CS_Status]) VALUES (10, N'eva5@gururu.com.tw', 6, 21, N'帳號異常', N'登入時出現錯誤訊息，無法使用平台功能', CAST(N'2025-10-07T14:50:00.000' AS DateTime), N'帳號已恢復正常，請重新登入', CAST(N'2025-10-07T17:20:00.000' AS DateTime), NULL, N'已回覆')
SET IDENTITY_INSERT [dbo].[CustomerService] OFF
GO
SET IDENTITY_INSERT [dbo].[Ecpay_Transaction] ON 

SET IDENTITY_INSERT [dbo].[Ecpay_Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorites] ON 

INSERT [dbo].[Favorites] ([FavoriteID], [MemberID], [VendorID]) VALUES (1, 2, 40)
INSERT [dbo].[Favorites] ([FavoriteID], [MemberID], [VendorID]) VALUES (2, 2, 20)
INSERT [dbo].[Favorites] ([FavoriteID], [MemberID], [VendorID]) VALUES (3, 2, 13)
SET IDENTITY_INSERT [dbo].[Favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberLookHistroies] ON 

INSERT [dbo].[MemberLookHistroies] ([LookHistoryID], [MemberID], [VendorID], [CreateAt]) VALUES (1, 2, 23, CAST(N'2025-10-18T20:18:46.673' AS DateTime))
INSERT [dbo].[MemberLookHistroies] ([LookHistoryID], [MemberID], [VendorID], [CreateAt]) VALUES (2, 2, 13, CAST(N'2025-10-16T21:29:54.680' AS DateTime))
INSERT [dbo].[MemberLookHistroies] ([LookHistoryID], [MemberID], [VendorID], [CreateAt]) VALUES (3, 2, 40, CAST(N'2025-10-12T15:40:19.680' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[MemberLookHistroies] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberID], [UserName], [AvatarURL], [Gender], [Birthdate], [Phone], [City], [District], [AccountID]) VALUES (1, N'Text', NULL, NULL, CAST(N'2020-01-01' AS Date), NULL, N'台南市', N'永康區', 1)
INSERT [dbo].[Members] ([MemberID], [UserName], [AvatarURL], [Gender], [Birthdate], [Phone], [City], [District], [AccountID]) VALUES (2, N'王大明', N'14b21847-1680-4ed7-86d6-a115c5d2fcfa.png', N'男', CAST(N'1995-10-26' AS Date), N'0912345666', N'新竹市', N'永康區', 4)
INSERT [dbo].[Members] ([MemberID], [UserName], [AvatarURL], [Gender], [Birthdate], [Phone], [City], [District], [AccountID]) VALUES (3, N'陳美玲', NULL, NULL, CAST(N'1985-09-23' AS Date), NULL, N'新北市', N'板橋區', 5)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [PlanID], [Quantity], [UnitPrice], [ExpireDate]) VALUES (33, 1, 1, NULL, 3, 800, NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [PlanID], [Quantity], [UnitPrice], [ExpireDate]) VALUES (34, 1, 2, NULL, 1, 1180, NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [PlanID], [Quantity], [UnitPrice], [ExpireDate]) VALUES (35, 1, 3, NULL, 2, 1150, NULL)
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [OrderNo], [AccountId], [TotalAmount], [DiscountAmount], [PaymentMethod], [PaymentStatus], [PaidAt], [CreatedAt], [UpdatedAt]) VALUES (1, N'T1811832336028eda', 5, 8580, NULL, NULL, N'PAID', CAST(N'2025-10-30T16:10:43.1587628' AS DateTime2), CAST(N'2025-10-30T16:10:32.3375712' AS DateTime2), CAST(N'2025-10-30T16:10:43.1597632' AS DateTime2))
INSERT [dbo].[Orders] ([OrderId], [OrderNo], [AccountId], [TotalAmount], [DiscountAmount], [PaymentMethod], [PaymentStatus], [PaidAt], [CreatedAt], [UpdatedAt]) VALUES (2, N'T1811875585fca7d8', 6, 4690, NULL, NULL, N'PAID', CAST(N'2025-10-30T16:11:26.2478401' AS DateTime2), CAST(N'2025-10-30T16:11:15.5855840' AS DateTime2), CAST(N'2025-10-30T16:11:26.2478401' AS DateTime2))
INSERT [dbo].[Orders] ([OrderId], [OrderNo], [AccountId], [TotalAmount], [DiscountAmount], [PaymentMethod], [PaymentStatus], [PaidAt], [CreatedAt], [UpdatedAt]) VALUES (3, N'T18119001981f490e', 6, 1700, NULL, NULL, N'PAID', CAST(N'2025-10-30T16:11:52.1924267' AS DateTime2), CAST(N'2025-10-30T16:11:40.1986011' AS DateTime2), CAST(N'2025-10-30T16:11:52.1934268' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [VendorID], [UnitPrice], [SpecialPrice], [SpecialDiscount], [EndDate], [Stock], [Pic_URL], [Status], [Reason]) VALUES (1, N'菲力牛排套餐 + 玉米濃湯 + 沙拉 + 甜點', 11, 880, 800, 10, CAST(N'2025-12-29' AS Date), 70, N'1a.jpg', N'上架中', NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [VendorID], [UnitPrice], [SpecialPrice], [SpecialDiscount], [EndDate], [Stock], [Pic_URL], [Status], [Reason]) VALUES (2, N'肋眼牛排雙人套餐 + 湯品 + 飲料', 11, 1280, 1180, 8, CAST(N'2025-12-20' AS Date), 84, N'1b.jpg', N'上架中', NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [VendorID], [UnitPrice], [SpecialPrice], [SpecialDiscount], [EndDate], [Stock], [Pic_URL], [Status], [Reason]) VALUES (3, N'海陸雙拼套餐 + 前菜 + 甜點', 11, 1150, NULL, NULL, CAST(N'2025-11-20' AS Date), 95, N'1c.jpg', N'上架中', NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[RS_Capabilities] ([VendorID], [ReservationDate], [ReservationPeriod], [Capability], [MaxGuests]) VALUES (11, N'2025-11-05', N'17:21-18:22         ', 4, 4)
INSERT [dbo].[RS_Capabilities] ([VendorID], [ReservationDate], [ReservationPeriod], [Capability], [MaxGuests]) VALUES (11, N'2025-11-06', N'17:21-18:22         ', 4, 4)
INSERT [dbo].[RS_Capabilities] ([VendorID], [ReservationDate], [ReservationPeriod], [Capability], [MaxGuests]) VALUES (11, N'2025-11-07', N'17:21-18:22         ', 4, 4)
GO
SET IDENTITY_INSERT [dbo].[SearchHistory] ON 

INSERT [dbo].[SearchHistory] ([SearchID], [MemberID], [Keyword], [StyleID], [City], [PriceRange], [TimeSlot], [SearchTime]) VALUES (1, 2, N'便當', 21, N'台南市', NULL, NULL, CAST(N'2025-10-15T22:45:52.973' AS DateTime))
INSERT [dbo].[SearchHistory] ([SearchID], [MemberID], [Keyword], [StyleID], [City], [PriceRange], [TimeSlot], [SearchTime]) VALUES (2, 2, N'手沖', 25, N'新竹市', NULL, NULL, CAST(N'2025-10-09T09:21:32.977' AS DateTime))
INSERT [dbo].[SearchHistory] ([SearchID], [MemberID], [Keyword], [StyleID], [City], [PriceRange], [TimeSlot], [SearchTime]) VALUES (3, 2, N'珍奶', 25, N'新竹市', NULL, NULL, CAST(N'2025-10-25T04:32:17.977' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SearchHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Type], [Description]) VALUES (1, N'管理員', N'administer')
INSERT [dbo].[Users] ([UserID], [Type], [Description]) VALUES (2, N'會員', N'Members')
INSERT [dbo].[Users] ([UserID], [Type], [Description]) VALUES (3, N'廠商', N'Vendors')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VD_Categories] ON 

INSERT [dbo].[VD_Categories] ([VD_CategoryID], [CategoryName], [Description]) VALUES (1, N'咖啡廳', N'提供咖啡、甜點與輕食的場所')
INSERT [dbo].[VD_Categories] ([VD_CategoryID], [CategoryName], [Description]) VALUES (2, N'吃到飽餐廳', N'提供自助式或吃到飽服務的餐廳')
INSERT [dbo].[VD_Categories] ([VD_CategoryID], [CategoryName], [Description]) VALUES (3, N'速食店', N'提供快速餐飲，如漢堡、薯條、炸雞等')
SET IDENTITY_INSERT [dbo].[VD_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[VD_Details] ON 

INSERT [dbo].[VD_Details] ([VD_DetailID], [VendorID], [VD_StyleID], [SeatsNumber], [AirConditioner], [Park], [BabyFriendly], [PetFriendly], [VeganFriendly], [HalalFriendly], [PriceMin], [PriceMax], [ServiceCharge], [LastUpdated]) VALUES (33, 11, 16, 40, 1, 1, 1, 0, 0, 0, 800, 1500, 1, CAST(N'2025-10-21T14:29:39.567' AS DateTime))
INSERT [dbo].[VD_Details] ([VD_DetailID], [VendorID], [VD_StyleID], [SeatsNumber], [AirConditioner], [Park], [BabyFriendly], [PetFriendly], [VeganFriendly], [HalalFriendly], [PriceMin], [PriceMax], [ServiceCharge], [LastUpdated]) VALUES (34, 12, 26, 25, 1, 0, 1, 0, 0, 0, 200, 400, 0, CAST(N'2025-10-21T14:29:39.567' AS DateTime))
INSERT [dbo].[VD_Details] ([VD_DetailID], [VendorID], [VD_StyleID], [SeatsNumber], [AirConditioner], [Park], [BabyFriendly], [PetFriendly], [VeganFriendly], [HalalFriendly], [PriceMin], [PriceMax], [ServiceCharge], [LastUpdated]) VALUES (35, 13, 25, 60, 1, 1, 1, 1, 0, 0, 150, 400, 0, CAST(N'2025-10-21T14:29:39.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[VD_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[VD_OpeningHours] ON 

INSERT [dbo].[VD_OpeningHours] ([VD_OpeningHourID], [VendorID], [DayOfWeek], [OpeningTime], [ClosingTime]) VALUES (1, 11, 1, CAST(N'11:00:00' AS Time), CAST(N'21:00:00' AS Time))
INSERT [dbo].[VD_OpeningHours] ([VD_OpeningHourID], [VendorID], [DayOfWeek], [OpeningTime], [ClosingTime]) VALUES (2, 11, 2, CAST(N'11:00:00' AS Time), CAST(N'21:00:00' AS Time))
INSERT [dbo].[VD_OpeningHours] ([VD_OpeningHourID], [VendorID], [DayOfWeek], [OpeningTime], [ClosingTime]) VALUES (3, 11, 3, CAST(N'11:00:00' AS Time), CAST(N'21:00:00' AS Time))
GO
SET IDENTITY_INSERT [dbo].[VD_OpeningHours] OFF
GO
SET IDENTITY_INSERT [dbo].[VD_Styles] ON 

INSERT [dbo].[VD_Styles] ([VD_StyleID], [StyleName], [Description]) VALUES (1, N'美式料理', N'漢堡、炸雞、排餐等')
INSERT [dbo].[VD_Styles] ([VD_StyleID], [StyleName], [Description]) VALUES (2, N'義式料理', N'義大利麵、披薩')
INSERT [dbo].[VD_Styles] ([VD_StyleID], [StyleName], [Description]) VALUES (3, N'墨西哥料理', N'捲餅、塔可、辣醬料理')
SET IDENTITY_INSERT [dbo].[VD_Styles] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendors] ON 

SET IDENTITY_INSERT [dbo].[Vendors] OFF
GO
ALTER TABLE [dbo].[SearchHistory] ADD  DEFAULT (getdate()) FOR [SearchTime]
GO
ALTER TABLE [dbo].[SearchHistory]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[SearchHistory]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[SearchHistory]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteReservation]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_DeleteReservation]
    @ReservationID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @GuestCount SMALLINT;
    DECLARE @VendorID INT;
    DECLARE @ReservationDate DATE;
    DECLARE @ReservationPeriod NVARCHAR(20);

    -- 取得該訂位資訊
    SELECT @GuestCount = GuestCount,
           @VendorID = VendorID,
           @ReservationDate = ReservationDate,
           @ReservationPeriod = ReservationPeriod
    FROM Reservations
    WHERE ReservationID = @ReservationID;

    IF @GuestCount IS NULL
    BEGIN
        RAISERROR('刪除失敗: 該訂位不存在', 16, 1);
        RETURN;
    END

    -- 將座位加回 RS_Capabilities
    UPDATE RS_Capabilities
    SET Capability = Capability + @GuestCount
    WHERE VendorID = @VendorID
      AND ReservationDate = CONVERT(NCHAR(10), @ReservationDate, 120)
      AND ReservationPeriod = @ReservationPeriod;

    -- 刪除訂位
    DELETE FROM Reservations
    WHERE ReservationID = @ReservationID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertReservation]    Script Date: 2025/11/2 下午 05:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_UpsertReservation]
    @ReservationID INT = NULL,        -- NULL 表示新增
    @MemberID INT,
    @VendorID INT,
    @ReservationDate DATE,
    @ReservationPeriod NVARCHAR(20),
    @GuestCount SMALLINT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;   -- 發生錯誤時自動 rollback

    BEGIN TRANSACTION;

    BEGIN TRY
        -- 檢查最大人數
		DECLARE @MaxGuests SMALLINT;

		SELECT @MaxGuests = MaxGuests
		FROM RS_Capabilities
		WHERE VendorID = @VendorID
		  AND ReservationDate = @ReservationDate
		  AND ReservationPeriod = @ReservationPeriod;

		IF @GuestCount > @MaxGuests
		BEGIN
			RAISERROR(N'超過最大可訂位人數', 16, 1);
			ROLLBACK TRANSACTION;
			RETURN;
		END



        IF @ReservationID IS NULL
        BEGIN
            -- 新增流程 ---------------------

            -- 檢查該時段是否存在
            IF NOT EXISTS (
                SELECT 1 FROM RS_Capabilities
                WHERE VendorID = @VendorID
                  AND ReservationDate = @ReservationDate
                  AND ReservationPeriod = @ReservationPeriod
            )
            BEGIN
                RAISERROR(N'該廠商或時段不存在', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END

            -- 檢查座位是否足夠
            IF (SELECT Capability FROM RS_Capabilities
                WHERE VendorID = @VendorID
                  AND ReservationDate = @ReservationDate
                  AND ReservationPeriod = @ReservationPeriod) < @GuestCount
            BEGIN
                RAISERROR(N'訂位失敗，座位不足', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END

            -- 扣座位
            UPDATE RS_Capabilities
            SET Capability = Capability - @GuestCount
            WHERE VendorID = @VendorID
              AND ReservationDate = @ReservationDate
              AND ReservationPeriod = @ReservationPeriod;

            -- 新增訂位紀錄
            INSERT INTO Reservations(MemberID, VendorID, ReservationDate, ReservationPeriod, GuestCount, RV_Status, CreateTime)
            VALUES(@MemberID, @VendorID, @ReservationDate, @ReservationPeriod, @GuestCount, N'已確認', GETDATE());
        END
        ELSE
        BEGIN
            -- 修改流程 ---------------------
            DECLARE @OldGuestCount SMALLINT;
            DECLARE @OldVendorID INT;
            DECLARE @OldReservationDate DATE;
            DECLARE @OldReservationPeriod NVARCHAR(20);

            -- 取出舊資料
            SELECT @OldGuestCount = GuestCount,
                   @OldVendorID = VendorID,
                   @OldReservationDate = ReservationDate,
                   @OldReservationPeriod = ReservationPeriod
            FROM Reservations
            WHERE ReservationID = @ReservationID;

            -- 先把舊座位加回去
            UPDATE RS_Capabilities
            SET Capability = Capability + @OldGuestCount
            WHERE VendorID = @OldVendorID
              AND ReservationDate = @OldReservationDate
              AND ReservationPeriod = @OldReservationPeriod;

            -- 檢查新時段是否存在
            IF NOT EXISTS (
                SELECT 1 FROM RS_Capabilities
                WHERE VendorID = @VendorID
                  AND ReservationDate = @ReservationDate
                  AND ReservationPeriod = @ReservationPeriod
            )
            BEGIN
                RAISERROR(N'新廠商或時段不存在', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END

            -- 檢查新時段座位是否足夠
            IF (SELECT Capability FROM RS_Capabilities
                WHERE VendorID = @VendorID
                  AND ReservationDate = @ReservationDate
                  AND ReservationPeriod = @ReservationPeriod) < @GuestCount
            BEGIN
                RAISERROR(N'修改失敗，新時段座位不足', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END

            -- 扣新座位
            UPDATE RS_Capabilities
            SET Capability = Capability - @GuestCount
            WHERE VendorID = @VendorID
              AND ReservationDate = @ReservationDate
              AND ReservationPeriod = @ReservationPeriod;

            -- 更新訂位紀錄
            UPDATE Reservations
            SET MemberID = @MemberID,
                VendorID = @VendorID,
                ReservationDate = @ReservationDate,
                ReservationPeriod = @ReservationPeriod,
                GuestCount = @GuestCount,
                UpdateTime = GETDATE()
            WHERE ReservationID = @ReservationID;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END
GO
USE [master]
GO
