USE [master]
GO
/****** Object:  Database [gourmetmap]    Script Date: 2025/10/17 下午 02:36:13 ******/
CREATE DATABASE [gourmetmap]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gourmetmap', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\gourmetmap.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gourmetmap_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\gourmetmap_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gourmetmap].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gourmetmap]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NULL,
	[Account] [varchar](255) NOT NULL,
	[Password] [varchar](255) NULL,
	[VerificationToken] [varchar](255) NULL,
	[IsVerified] [bit] NULL,
	[CreatedAt] [datetime2](6) NULL,
	[LastLogIn] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AD_Data]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AD_Data](
	[ADID] [int] IDENTITY(1,1) NOT NULL,
	[PlanID] [int] NOT NULL,
	[VendorID] [int] NOT NULL,
	[CampaignName] [nvarchar](100) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[AD_Status] [nvarchar](10) NOT NULL,
	[PIC_URL] [nvarchar](max) NULL,
 CONSTRAINT [PK_AD_Data] PRIMARY KEY CLUSTERED 
(
	[ADID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AD_Plans]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AD_Plans](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](50) NOT NULL,
	[PlanPrice] [int] NOT NULL,
	[Days] [int] NOT NULL,
	[PlanDescription] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_AD_Plans] PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlackLists]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlackLists](
	[MemberID] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BlackLists_1] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[OrderDetailID] [int] NOT NULL,
	[Context] [nvarchar](500) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[CouponID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[PlanID] [int] NULL,
	[VendorID] [int] NULL,
	[PrecentageDiscount] [float] NULL,
	[PriceDiscount] [int] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerServiceID]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerServiceID](
	[CustomerServiceID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](30) NULL,
	[MemberID] [int] NOT NULL,
	[VendorID] [int] NOT NULL,
	[Context] [nvarchar](300) NULL,
	[CS_Status] [nvarchar](10) NULL,
	[CreateAt] [datetime] NULL,
 CONSTRAINT [PK_CustomerServiceID] PRIMARY KEY CLUSTERED 
(
	[CustomerServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerServicesReplies]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerServicesReplies](
	[CustomerServiceReplyID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerServiceID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[Context] [nvarchar](300) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_CustomerServicesReplies] PRIMARY KEY CLUSTERED 
(
	[CustomerServiceReplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAQ]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAQ](
	[FAQID] [int] IDENTITY(1,1) NOT NULL,
	[Keyword] [nvarchar](10) NULL,
	[Answer] [nvarchar](100) NULL,
 CONSTRAINT [PK_FAQ] PRIMARY KEY CLUSTERED 
(
	[FAQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[FavoriteID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[VendorID] [int] NOT NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[FavoriteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberLookHistroies]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberLookHistroies](
	[LookHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[VendorID] [int] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_MemberLookHistroies] PRIMARY KEY CLUSTERED 
(
	[LookHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](30) NOT NULL,
	[AvatarURL] [nvarchar](1000) NULL,
	[Gender] [nvarchar](10) NULL,
	[Birthdate] [date] NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[City] [nvarchar](10) NOT NULL,
	[District] [nvarchar](10) NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members1]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[role] [nvarchar](20) NULL,
	[verification_token] [nvarchar](100) NULL,
	[is_verified] [bit] NULL,
	[created_at] [datetime] NULL,
	[avatar_url] [nvarchar](255) NULL,
	[nickname] [nvarchar](50) NULL,
	[gender] [nvarchar](10) NULL,
	[birthdate] [date] NULL,
	[phone] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NULL,
	[ADID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [int] NOT NULL,
	[ExpireDate] [date] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[BounsPoint] [int] NULL,
	[PaymentID] [int] NOT NULL,
	[CouponID] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethod] [nvarchar](10) NOT NULL,
	[PaymentStatus] [nvarchar](10) NOT NULL,
	[TransactionID] [varchar](100) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PD_Categories]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PD_Categories](
	[PD_CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_PD_Categories] PRIMARY KEY CLUSTERED 
(
	[PD_CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[PD_CategoryID] [int] NOT NULL,
	[VendorID] [int] NOT NULL,
	[UnitPrice] [int] NOT NULL,
	[SpecialPrice] [int] NULL,
	[SpecialDiscount] [float] NULL,
	[EndDate] [date] NOT NULL,
	[Stock] [int] NOT NULL,
	[Pic_URL] [varchar](255) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rates]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rates](
	[RateID] [int] IDENTITY(1,1) NOT NULL,
	[RateCategory] [nvarchar](10) NOT NULL,
	[MemberID] [int] NOT NULL,
	[OrderDetailID] [int] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Rates] PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[VendorID] [int] NOT NULL,
	[ReservationDate] [date] NOT NULL,
	[ReservationPeriod] [nvarchar](20) NOT NULL,
	[GuestCount] [smallint] NOT NULL,
	[RV_Status] [nchar](10) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RS_Capabilities]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RS_Capabilities](
	[VendorID] [int] NOT NULL,
	[ReservationDate] [nchar](10) NOT NULL,
	[ReservationPeriod] [nchar](10) NOT NULL,
	[Capability] [int] NOT NULL,
 CONSTRAINT [PK_RS_Capabilities] PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC,
	[ReservationDate] ASC,
	[ReservationPeriod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[UserID] [bigint] NOT NULL,
	[Description] [varchar](255) NULL,
	[Type] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](255) NULL,
	[Description] [varchar](255) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[UserID] [bigint] NOT NULL,
	[Description] [varchar](255) NULL,
	[Type] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VD_Categories]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_Categories](
	[VD_CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_RT_Categories] PRIMARY KEY CLUSTERED 
(
	[VD_CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VD_Details]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_Details](
	[VD_DetailID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NOT NULL,
	
	[VD_StyleID] [int] NOT NULL,
	[SeatsNumber] [int] NOT NULL,
	[AirConditioner] [bit] NOT NULL,
	[Park] [bit] NOT NULL,
	[BabyFriendly] [bit] NOT NULL,
	[PetFriendly] [bit] NOT NULL,
	[VeganFriendly] [bit] NOT NULL,
	[HalalFriendly] [bit] NOT NULL,
	[PriceMin] [int] NULL,
	[PriceMax] [int] NULL,
	[ServiceCharge] [bit] NULL,
	[LastUpdated] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VD_OpeningHours]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_OpeningHours](
	[VD_OpeningHourID] [int] IDENTITY(1,1) NOT NULL,
	[VendorID] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[OpeningTime] [time](7) NOT NULL,
	[ClosingTime] [time](7) NOT NULL,
 CONSTRAINT [PK_RT_OpeningHours] PRIMARY KEY CLUSTERED 
(
	[VD_OpeningHourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VD_Styles]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VD_Styles](
	[VD_StyleID] [int] IDENTITY(1,1) NOT NULL,
	[StyleName] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_RT_Styles] PRIMARY KEY CLUSTERED 
(
	[VD_StyleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorID] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](50) NOT NULL,
	[TaxID] [int] NULL,
	[OwnerName] [nvarchar](100) NOT NULL,
	[ContactName] [nvarchar](30) NOT NULL,
	[ContactTitle] [nvarchar](30) NOT NULL,
	[ContactTel] [nvarchar](30) NOT NULL,
	[ContactEmail] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[MapApi] [nvarchar](200) NULL,
	[VD_CategoryID] [int] NOT NULL,
	[LogoURL] [nvarchar](max) NULL,
	[VD_Status] [nvarchar](10) NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Vendors] PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [UserID], [Account], [Password], [VerificationToken], [IsVerified], [CreatedAt], [LastLogIn], [Status]) VALUES (4, 2, N'alice1@gururu.com.tw', N'Passw0rd02', N'863E28E0-0917-4303-8A76-4A8B896DA4A6', 1, NULL, CAST(N'2025-09-22T10:02:51.400' AS DateTime), 1)
INSERT [dbo].[Accounts] ([AccountID], [UserID], [Account], [Password], [VerificationToken], [IsVerified], [CreatedAt], [LastLogIn], [Status]) VALUES (5, 2, N'bob2@gururu.com.tw', N'Passw0rd02', N'A2E5BADC-EF2E-4AED-BC98-3DD7C927F0FC', 1, NULL, CAST(N'2025-09-10T23:16:08.577' AS DateTime), 2)
INSERT [dbo].[Accounts] ([AccountID], [UserID], [Account], [Password], [VerificationToken], [IsVerified], [CreatedAt], [LastLogIn], [Status]) VALUES (6, 2, N'charlie3@gururu.com.tw', N'Passw0rd03', N'CD5B6874-8313-4ED2-8712-614147E5DFB5', 1, NULL, CAST(N'2025-09-10T23:26:40.627' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Favorites] ON 

INSERT [dbo].[Favorites] ([FavoriteID], [MemberID], [VendorID]) VALUES (1, 1, 1)
INSERT [dbo].[Favorites] ([FavoriteID], [MemberID], [VendorID]) VALUES (2, 1, 3)
INSERT [dbo].[Favorites] ([FavoriteID], [MemberID], [VendorID]) VALUES (3, 2, 2)
GO
SET IDENTITY_INSERT [dbo].[Favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberLookHistroies] ON 

INSERT [dbo].[MemberLookHistroies] ([LookHistoryID], [MemberID], [VendorID], [CreateAt]) VALUES (1, 2, 1, CAST(N'2025-09-28T15:19:19.753' AS DateTime))
INSERT [dbo].[MemberLookHistroies] ([LookHistoryID], [MemberID], [VendorID], [CreateAt]) VALUES (2, 2, 2, CAST(N'2025-09-28T15:19:47.357' AS DateTime))
INSERT [dbo].[MemberLookHistroies] ([LookHistoryID], [MemberID], [VendorID], [CreateAt]) VALUES (3, 2, 3, CAST(N'2025-09-28T15:24:06.457' AS DateTime))
SET IDENTITY_INSERT [dbo].[MemberLookHistroies] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberID], [UserName], [AvatarURL], [Gender], [Birthdate], [Phone], [City], [District], [AccountID]) VALUES (1, N'Text', NULL, NULL, CAST(N'2020-01-01' AS Date), NULL, N'台南市', N'永康區', 1)
INSERT [dbo].[Members] ([MemberID], [UserName], [AvatarURL], [Gender], [Birthdate], [Phone], [City], [District], [AccountID]) VALUES (2, N'王大明', N'6851af2f-9800-4479-8523-2d293be40a01.jpg', N'男', CAST(N'1995-10-26' AS Date), N'0912345666', N'台南市', N'南區', 4)
INSERT [dbo].[Members] ([MemberID], [UserName], [AvatarURL], [Gender], [Birthdate], [Phone], [City], [District], [AccountID]) VALUES (3, N'陳美玲', NULL, NULL, CAST(N'1985-09-23' AS Date), NULL, N'新北市', N'板橋區', 5)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[Members1] ON 

INSERT [dbo].[Members1] ([id], [username], [password], [email], [role], [verification_token], [is_verified], [created_at], [avatar_url], [nickname], [gender], [birthdate], [phone]) VALUES (1, N'skywalker13217@gmail.com', N'111', N'skywalker13217@gmail.com', N'admin', NULL, 1, CAST(N'2025-08-26T16:28:08.527' AS DateTime), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Members1] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [ADID], [Quantity], [UnitPrice], [ExpireDate]) VALUES (1, 1, 1, NULL, 2, 85, CAST(N'2099-12-31' AS Date))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [ADID], [Quantity], [UnitPrice], [ExpireDate]) VALUES (2, 1, 4, NULL, 1, 899, CAST(N'2099-12-31' AS Date))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [ADID], [Quantity], [UnitPrice], [ExpireDate]) VALUES (3, 2, 2, NULL, 1, 99, CAST(N'2099-12-31' AS Date))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [BounsPoint], [PaymentID], [CouponID]) VALUES (1, 2, CAST(N'2025-09-01T10:20:00.000' AS DateTime), 45, 1, NULL)
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [BounsPoint], [PaymentID], [CouponID]) VALUES (2, 2, CAST(N'2025-09-02T15:45:00.000' AS DateTime), 30, 2, 1)
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [BounsPoint], [PaymentID], [CouponID]) VALUES (3, 2, CAST(N'2025-09-03T12:30:00.000' AS DateTime), 25, 1, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [VendorID], [UnitPrice], [SpecialPrice], [SpecialDiscount], [EndDate], [Stock], [Pic_URL]) VALUES (1, N'test', 1, 90, 85, NULL, CAST(N'2099-12-31' AS Date), 99999, NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [VendorID], [UnitPrice], [SpecialPrice], [SpecialDiscount], [EndDate], [Stock], [Pic_URL]) VALUES (2, N'test2', 1, 100, 99, NULL, CAST(N'2099-12-31' AS Date), 99999, NULL)
INSERT [dbo].[Products] ([ProductID], [ProductName], [VendorID], [UnitPrice], [SpecialPrice], [SpecialDiscount], [EndDate], [Stock], [Pic_URL]) VALUES (3, N'test3', 2, 120, NULL, NULL, CAST(N'2099-12-31' AS Date), 99999, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Type], [Description]) VALUES (1, N'管理員', N'administer')
INSERT [dbo].[Users] ([UserID], [Type], [Description]) VALUES (2, N'會員', N'Members')
INSERT [dbo].[Users] ([UserID], [Type], [Description]) VALUES (3, N'廠商', N'Vendors')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[VD_Categories] ON 

INSERT [dbo].[VD_Categories] ([VD_CategoryID], [CategoryName], [Description]) VALUES (1, N'咖啡廳', N'提供咖啡、甜點與輕食的場所')
INSERT [dbo].[VD_Categories] ([VD_CategoryID], [CategoryName], [Description]) VALUES (2, N'吃到飽餐廳', N'提供自助式或吃到飽服務的餐廳')
INSERT [dbo].[VD_Categories] ([VD_CategoryID], [CategoryName], [Description]) VALUES (3, N'速食店', N'提供快速餐飲，如漢堡、薯條、炸雞等')
SET IDENTITY_INSERT [dbo].[VD_Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[VD_Details] ON 

INSERT [dbo].[VD_Details] ([VD_DetailID], [VendorID], [VD_StyleID], [SeatsNumber], [AirConditioner], [Park], [BabyFriendly], [PetFriendly], [VeganFriendly], [HalalFriendly], [PriceMin], [PriceMax], [ServiceCharge], [LastUpdated]) VALUES (1, 1, 1, 50, 1, 1, 1, 0, 0, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[VD_Details] ([VD_DetailID], [VendorID], [VD_StyleID], [SeatsNumber], [AirConditioner], [Park], [BabyFriendly], [PetFriendly], [VeganFriendly], [HalalFriendly], [PriceMin], [PriceMax], [ServiceCharge], [LastUpdated]) VALUES (2, 2, 2, 30, 1, 0, 0, 1, 0, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[VD_Details] ([VD_DetailID], [VendorID], [VD_StyleID], [SeatsNumber], [AirConditioner], [Park], [BabyFriendly], [PetFriendly], [VeganFriendly], [HalalFriendly], [PriceMin], [PriceMax], [ServiceCharge], [LastUpdated]) VALUES (23, 11, 20, 40, 1, 1, 1, 0, 0, 0, 150, 350, 0, CAST(N'2025-10-14T12:01:35.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[VD_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[VD_OpeningHours] ON 

INSERT [dbo].[VD_OpeningHours] ([VD_OpeningHourID], [VendorID], [DayOfWeek], [OpeningTime], [ClosingTime]) VALUES (281, 11, 1, CAST(N'11:30:00' AS Time), CAST(N'21:30:00' AS Time))
INSERT [dbo].[VD_OpeningHours] ([VD_OpeningHourID], [VendorID], [DayOfWeek], [OpeningTime], [ClosingTime]) VALUES (282, 11, 3, CAST(N'11:30:00' AS Time), CAST(N'21:30:00' AS Time))
INSERT [dbo].[VD_OpeningHours] ([VD_OpeningHourID], [VendorID], [DayOfWeek], [OpeningTime], [ClosingTime]) VALUES (283, 11, 4, CAST(N'11:30:00' AS Time), CAST(N'21:30:00' AS Time))
SET IDENTITY_INSERT [dbo].[VD_OpeningHours] OFF
GO
SET IDENTITY_INSERT [dbo].[VD_Styles] ON 

INSERT [dbo].[VD_Styles] ([VD_StyleID], [StyleName], [Description]) VALUES (1, N'美式料理', N'漢堡、炸雞、排餐等')
INSERT [dbo].[VD_Styles] ([VD_StyleID], [StyleName], [Description]) VALUES (2, N'義式料理', N'義大利麵、披薩')
INSERT [dbo].[VD_Styles] ([VD_StyleID], [StyleName], [Description]) VALUES (3, N'墨西哥料理', N'捲餅、塔可、辣醬料理')
SET IDENTITY_INSERT [dbo].[VD_Styles] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([VendorID], [VendorName], [TaxID], [OwnerName], [ContactName], [ContactTitle], [ContactTel], [ContactEmail], [Address], [VD_CategoryID], [LogoURL], [VD_Status], [AccountID]) VALUES (11, N'牛排屋88 ', 1, N'吳志明', N'陳美芳', N'店長', N'02-2655-1100', N'vendor5079@gururu.com.tw', N'台北市南港區經貿二路11號', 7, N'1.jpg', N'上限中', 5001)
INSERT [dbo].[Vendors] ([VendorID], [VendorName], [TaxID], [OwnerName], [ContactName], [ContactTitle], [ContactTel], [ContactEmail], [Address], [VD_CategoryID], [LogoURL], [VD_Status], [AccountID]) VALUES (12, N'波絲甜手作烘焙坊', NULL, N'林怡君', N'黃志豪', N'經理', N'02-2766-2200', N'vendor5080@gururu.com.tw', N'台北市松山區八德路三段120號', 8, N'2.jpg', N'審核中', 5002)
INSERT [dbo].[Vendors] ([VendorID], [VendorName], [TaxID], [OwnerName], [ContactName], [ContactTitle], [ContactTel], [ContactEmail], [Address], [VD_CategoryID], [LogoURL], [VD_Status], [AccountID]) VALUES (13, N'再來咖啡', NULL, N'張雅琴', N'李明哲', N'負責人', N'02-2555-3300', N'vendor5081@gururu.com.tw', N'台北市大同區迪化街50號', 1, N'3.jpg', N'上限中', 5003)
SET IDENTITY_INSERT [dbo].[Vendors] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Accounts_Account]    Script Date: 2025/10/17 下午 02:36:13 ******/
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [UQ_Accounts_Account] UNIQUE NONCLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Accounts_VerificationToken]    Script Date: 2025/10/17 下午 02:36:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Accounts_VerificationToken] ON [dbo].[Accounts]
(
	[VerificationToken] ASC
)
WHERE ([VerificationToken] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Members1__AB6E61646A337B0A]    Script Date: 2025/10/17 下午 02:36:13 ******/
ALTER TABLE [dbo].[Members1] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Members1__AB6E616482C0181B]    Script Date: 2025/10/17 下午 02:36:13 ******/
ALTER TABLE [dbo].[Members1] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Members1__AB6E6164F586D4C5]    Script Date: 2025/10/17 下午 02:36:13 ******/
ALTER TABLE [dbo].[Members1] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Members1__F3DBC57221D718C3]    Script Date: 2025/10/17 下午 02:36:13 ******/
ALTER TABLE [dbo].[Members1] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Members1__F3DBC57253BF1931]    Script Date: 2025/10/17 下午 02:36:13 ******/
ALTER TABLE [dbo].[Members1] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Members1__F3DBC572C10E6990]    Script Date: 2025/10/17 下午 02:36:13 ******/
ALTER TABLE [dbo].[Members1] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_IsVerified]  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Members1] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[Members1] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[Members1] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_EndDate]  DEFAULT ('2099-12-31') FOR [EndDate]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Stock]  DEFAULT ((99999)) FOR [Stock]
GO
ALTER TABLE [dbo].[VD_Details] ADD  DEFAULT ((0)) FOR [ServiceCharge]
GO
ALTER TABLE [dbo].[VD_Details] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_User] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_User]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteReservation]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteReservation]
    @ReservationID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @GuestCount SMALLINT;
    DECLARE @VendorID INT;
    DECLARE @ReservationDate DATE;
    DECLARE @ReservationPeriod NVARCHAR(20);

    -- 取得該訂位資訊
    SELECT @GuestCount = GuestCount,
           @VendorID = VendorID,
           @ReservationDate = ReservationDate,
           @ReservationPeriod = ReservationPeriod
    FROM Reservations
    WHERE ReservationID = @ReservationID;

    IF @GuestCount IS NULL
    BEGIN
        RAISERROR('刪除失敗: 該訂位不存在', 16, 1);
        RETURN;
    END

    -- 將座位加回 RS_Capabilities
    UPDATE RS_Capabilities
    SET Capability = Capability + @GuestCount
    WHERE VendorID = @VendorID
      AND ReservationDate = CONVERT(NCHAR(10), @ReservationDate, 120)
      AND ReservationPeriod = @ReservationPeriod;

    -- 刪除訂位
    DELETE FROM Reservations
    WHERE ReservationID = @ReservationID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertReservation]    Script Date: 2025/10/17 下午 02:36:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpsertReservation]
    @ReservationID INT = NULL,        -- NULL 表示新增
    @MemberID INT,
    @VendorID INT,
    @ReservationDate DATE,
    @ReservationPeriod NVARCHAR(20),
    @GuestCount SMALLINT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;   -- 發生錯誤時自動 rollback

    BEGIN TRANSACTION;

    BEGIN TRY
        -- 檢查最大人數
        IF @GuestCount > 6
        BEGIN
            RAISERROR(N'超過最大可訂位人數', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        IF @ReservationID IS NULL
        BEGIN
            -- 新增流程 ---------------------

            -- 檢查該時段是否存在
            IF NOT EXISTS (
                SELECT 1 FROM RS_Capabilities
                WHERE VendorID = @VendorID
                  AND ReservationDate = @ReservationDate
                  AND ReservationPeriod = @ReservationPeriod
            )
            BEGIN
                RAISERROR(N'該廠商或時段不存在', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END

            -- 檢查座位是否足夠
            IF (SELECT Capability FROM RS_Capabilities
                WHERE VendorID = @VendorID
                  AND ReservationDate = @ReservationDate
                  AND ReservationPeriod = @ReservationPeriod) < @GuestCount
            BEGIN
                RAISERROR(N'訂位失敗，座位不足', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END

            -- 扣座位
            UPDATE RS_Capabilities
            SET Capability = Capability - @GuestCount
            WHERE VendorID = @VendorID
              AND ReservationDate = @ReservationDate
              AND ReservationPeriod = @ReservationPeriod;

            -- 新增訂位紀錄
            INSERT INTO Reservations(MemberID, VendorID, ReservationDate, ReservationPeriod, GuestCount, RV_Status, CreateTime)
            VALUES(@MemberID, @VendorID, @ReservationDate, @ReservationPeriod, @GuestCount, N'已確認', GETDATE());
        END
        ELSE
        BEGIN
            -- 修改流程 ---------------------
            DECLARE @OldGuestCount SMALLINT;
            DECLARE @OldVendorID INT;
            DECLARE @OldReservationDate DATE;
            DECLARE @OldReservationPeriod NVARCHAR(20);

            -- 取出舊資料
            SELECT @OldGuestCount = GuestCount,
                   @OldVendorID = VendorID,
                   @OldReservationDate = ReservationDate,
                   @OldReservationPeriod = ReservationPeriod
            FROM Reservations
            WHERE ReservationID = @ReservationID;

            -- 先把舊座位加回去
            UPDATE RS_Capabilities
            SET Capability = Capability + @OldGuestCount
            WHERE VendorID = @OldVendorID
              AND ReservationDate = @OldReservationDate
              AND ReservationPeriod = @OldReservationPeriod;

            -- 檢查新時段是否存在
            IF NOT EXISTS (
                SELECT 1 FROM RS_Capabilities
                WHERE VendorID = @VendorID
                  AND ReservationDate = @ReservationDate
                  AND ReservationPeriod = @ReservationPeriod
            )
            BEGIN
                RAISERROR(N'新廠商或時段不存在', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END

            -- 檢查新時段座位是否足夠
            IF (SELECT Capability FROM RS_Capabilities
                WHERE VendorID = @VendorID
                  AND ReservationDate = @ReservationDate
                  AND ReservationPeriod = @ReservationPeriod) < @GuestCount
            BEGIN
                RAISERROR(N'修改失敗，新時段座位不足', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END

            -- 扣新座位
            UPDATE RS_Capabilities
            SET Capability = Capability - @GuestCount
            WHERE VendorID = @VendorID
              AND ReservationDate = @ReservationDate
              AND ReservationPeriod = @ReservationPeriod;

            -- 更新訂位紀錄
            UPDATE Reservations
            SET MemberID = @MemberID,
                VendorID = @VendorID,
                ReservationDate = @ReservationDate,
                ReservationPeriod = @ReservationPeriod,
                GuestCount = @GuestCount,
                UpdateTime = GETDATE()
            WHERE ReservationID = @ReservationID;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END
GO
USE [master]
GO
