USE [gourmetmap]
GO
/****** Object:  Table [dbo].[SearchHistory]    Script Date: 2025/10/26 下午 10:29:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchHistory](
	[SearchID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NULL,
	[Keyword] [nvarchar](100) NULL,
	[StyleID] [int] NULL,
	[City] [nvarchar](50) NULL,
	[PriceRange] [nvarchar](20) NULL,
	[TimeSlot] [nvarchar](20) NULL,
	[SearchTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SearchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SearchHistory] ON 

INSERT [dbo].[SearchHistory] ([SearchID], [MemberID], [Keyword], [StyleID], [City], [PriceRange], [TimeSlot], [SearchTime]) VALUES (1, 1, N'火鍋', 4, N'台中市', N'300-600', N'dinner', CAST(N'2025-10-26T17:47:01.670' AS DateTime))
INSERT [dbo].[SearchHistory] ([SearchID], [MemberID], [Keyword], [StyleID], [City], [PriceRange], [TimeSlot], [SearchTime]) VALUES (2, 1, N'早午餐', 5, N'台中市', N'100-300', N'breakfast', CAST(N'2025-10-26T17:47:01.670' AS DateTime))
INSERT [dbo].[SearchHistory] ([SearchID], [MemberID], [Keyword], [StyleID], [City], [PriceRange], [TimeSlot], [SearchTime]) VALUES (3, 1, N'拉麵', 2, N'台北市', N'100-300', N'lunch', CAST(N'2025-10-26T17:47:01.670' AS DateTime))
SET IDENTITY_INSERT [dbo].[SearchHistory] OFF
GO
ALTER TABLE [dbo].[SearchHistory] ADD  DEFAULT (getdate()) FOR [SearchTime]
GO
ALTER TABLE [dbo].[SearchHistory]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
